
    <div class = "myBackground2">
        <p>
          <strong>Commenter:</strong>
          <%= comment.commenter %>
        <br>
          <strong>Comment:</strong>
          <%= comment.body %>
        </p>

        <p class = "small">
          <%= link_to 'Delete Comment', [comment.article, comment],
                       method: :delete,
                       data: { confirm: 'Are you sure?' } %>
        </p>


</div>
