

<div>
    <br> 
    <br>
    <% provide(:title, @user.name) %>

    <div class = "container">
       <header class="intro-header" style="background-image: url('img/about-bg.jpg')">
                <div class = "jumbotron">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <div class="page-heading">
                                <h1>User Profile</h1>
                                <hr class="small">
                            </div>
                        </div>
                    </div>
                </div>
        </header>
   
    
    
    <br>
            <div class="myBackground">
                <h1> <%= @user.name %> </h1>
                <p>
                  <td><%= @user.email %></td>
                </p>

                <br>
            </div>
            <br>
    </div>  
</div>