
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <br>
                        <br>
                        <br>
                           <div class="jumbotron">
                              <div class="container">
                                <h1>WELCOME</h1>
                                <hr>
                                <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                                
                                    <div  class="btn btn-primary btn-xl"> 
                                     <%= link_to 'Go to My Blog >>' ,  controller: 'articles' %>
                                     </div>
                               </div>
                            </div>                                 
                    </div>
                </div>
            </div>
        </div>
    </header>  

