
    <header>
        <div class="container">
            <div class="row">
                <div>
                    <div class="site-heading">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                           <div class="jumbotron">
                              <div class="container">
                                <h1>WELCOME</h1>
                                <hr>
                                <p>“The most important sentence in any article is the first one. If it doesn’t induce the reader to proceed to the second sentence, your article is dead. And if the second sentence doesn’t induce him to continue to the third sentence, it’s equally dead. Of such a progression of sentences, each tugging the reader forward until … safely hooked, a writer constructs that fateful unit: the lead.”</p>
                                
                                    <div  class="btn btn-primary btn-xl"> 
                                     <%= link_to 'Go to My Blog >>' ,  controller: 'articles' %>
                                     </div>
                               </div>
                            </div>                                 
                    </div>
                </div>
            </div>
        </div>
    </header>  

